@{
    ViewData["Title"] = "Import error";
}

<div
    class="text-center">
    <h1
        class="display-4">
        Oops...
    </h1>
    <p>
        Your file seems to be corrupted, better luck next time!
	</p>
</div>
