@model IEnumerable<Employee>;
<h4
	class="mt-2">
	Personnel records
</h4>
<table
	class="table table-striped"
	>
	<tr>
		<th scope="col">
			Payroll Number
		</th>
		<th scope="col">
			Forenames
		</th>
		<th scope="col">
			Surname
		</th>
		<th scope="col">
			Date of Birth
		</th>
		<th scope="col">
			Telephone
		</th>
		<th scope="col">
			Mobile
		</th>
		<th scope="col">
			Address
		</th>
		<th scope="col">
			Address2
		</th>
		<th scope="col">
			Postcode
		</th>
		<th scope="col">
			Email Home
		</th>
		<th scope="col">
			Start Date
		</th>
		<th scope="col">
			Action
		</th>
	</tr>
	@foreach (Employee emp in Model)
	{
		@await Html.PartialAsync("EmployeeTableRow", emp)
	}
</table>

@section scripts{

}
